@font-face {
    font-family: roboto-black;
    font-style: normal;
    src: url('../Fonts/Roboto-Black.woff') format(woff), url('../Fonts/Roboto-Black.woff2') format(woff2);
}

@font-face {
    font-family: roboto-bold;
    font-style: normal;
    src: url('../Fonts/Roboto-Bold.woff') format(woff), url('../Fonts/Roboto-Bold.woff2') format(woff2);
}

@font-face {
    font-family: roboto-medium;
    font-style: normal;
    src: url('../Fonts/Roboto-Medium.woff') format(woff), url('../Fonts/Roboto-Medium.woff2') format(woff2);
}

@font-face {
    font-family: roboto-light;
    font-style: normal;
    src: url('../Fonts/Roboto-Light.woff') format(woff), url('../Fonts/Roboto-Light.woff2') format(woff2);
}

@font-face {
    font-family: roboto-regular;
    font-style: normal;
    src: url('../Fonts/Roboto-Regular.woff') format(woff), url('../Fonts/Roboto-Regular.woff2') format(woff2);
}

body {
    font-family: 'roboto-regular';
    font-style: normal;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}