@font-face {
    font-family: roboto-black;
    font-style: normal;
    src: url('../Fonts/Roboto-Black.woff') format(woff), url('../Fonts/Roboto-Black.woff2') format(woff2);
}

@font-face {
    font-family: roboto-bold;
    font-style: normal;
    src: url('../Fonts/Roboto-Bold.woff') format(woff), url('../Fonts/Roboto-Bold.woff2') format(woff2);
}

@font-face {
    font-family: roboto-medium;
    font-style: normal;
    src: url('../Fonts/Roboto-Medium.woff') format(woff), url('../Fonts/Roboto-Medium.woff2') format(woff2);
}

@font-face {
    font-family: roboto-light;
    font-style: normal;
    src: url('../Fonts/Roboto-Light.woff') format(woff), url('../Fonts/Roboto-Light.woff2') format(woff2);
}

@font-face {
    font-family: roboto-regular;
    font-style: normal;
    src: url('../Fonts/Roboto-Regular.woff') format(woff), url('../Fonts/Roboto-Regular.woff2') format(woff2);
}

body {
    font-family: 'roboto-regular';
    font-style: normal;
    line-height: 1;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.logo {
    color: $clr_white;
    position: relative;
    border: 2px solid $clr_white;
    transform: rotate(45deg);
    height: $px_40;
    width: $px_40;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);

    span {
        font-size: $px_16;
        font-family: roboto-medium;
        transform: rotate(-45deg);
    }


    &:hover {
        color: $clr_sky;
        border-color: $clr_sky;
        background-color: $clr_hov_bg_sky_color;
        transition: all 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }
}

.button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: $px_12 $px_18;
    font-size: $px_14;
    border: $px_1 solid $clr_sky;
    border-radius: 4px;
    outline: none;
    color: $clr_sky;
    background-color: $clr_black;

}

.button_sky {
    background-color: $clr_black;
    transition: background-color 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);

    &:hover {
        background-color: $clr_hov_bg_sky_color;
        transition: background-color 0.25s cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }
}

/* width */
::-webkit-scrollbar {
    width: $px_6;
    border-radius: $px_4;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
    border-radius: $px_4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $clr_lt_white;
    opacity: 0.55;
    border: $px_2 solid $clr_lt_white;
    border-radius: $px_4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $clr_lt_white;
    opacity: 0.55;
    border-radius: $px_4;
}